/*Generel styling*/

* { /*alt på siden bliver påvirket*/
	box-sizing: border-box; /*Padding og border inkluderes i bredde og højde*/
}

body {
	font-family: Arial, Helvetica, sans-serif;
	/*margin: 0 0 5em 0; /*Resetting af margin i hele bodyen + tilføjer luft under kontaktformular*/
    margin: 0;
}

/*header og footer*/
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
  }
  
  a {
    color:white;
    font-weight: bold;
    text-decoration: none;
  }
  
  a:hover {
    color: #BF6E73;
  }
  
  .header {
    position: relative;
    background-image: url(/img/header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    padding-bottom: 40em;
    z-index: 1;
  
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    justify-content: space-between;
  }
  
  .header img {
    max-width: 50%
  }
  
  .mobile-menu-icon {
    display: none;
  }
  
  .logo-container {
    grid-column: 1/2;
    grid-row: 1/1;
  }
  
  .menu-container {
    grid-column: 2/2;
    grid-row: 1/1;
    justify-self: end;
    padding-right: 1em;
  }
  
  .menu {
    display: flex;
    align-items: center;
    padding-left: 5em;
  }
  
  .menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu-list li {
    margin-right: 20px;
  }
  
  .footer {
    background-image: url(/img/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 5em;
    padding-top: 5em;
  }
  
  .footer img {
    max-width: 25%
  }
  
  .logo-container-footer {
    grid-column: 1/4;
    grid-row: 1/1;
  }
  
  .text-container-footer {
    grid-column: 2/4;
    grid-row: 2/2;
  }
  
  .menu-container-footer {
    grid-column: 3/4;
    grid-row: 2/2;
  }
  
  
  
  .facebook-container-footer {
    grid-column: 3/4;
    grid-row: 1/1;
    text-align: right;
    
  }
  
  .linkedin-container-footer {
    grid-column: 4/4;
    grid-row: 1/1;
  }
  
  
  .menu-list-footer {
   list-style: none;
   padding-right: 1em;
  }
  
  .menu-list-footer li {
    font-size: 10px;
   }
  
   .menu-list-footer a {
    text-decoration: none;  /* Fjerner understregning fra links */
    font-weight: normal;  /* Fjerner fed stil fra links */
  }
  
  @media only screen and (max-width: 767px) {
    .header {
      min-height: auto; /* Ændrer headerens højde til at tilpasse indholdet */
      height: auto; /* Juster height til auto */
      background-size: cover; /* Bevarer baggrundsbilledets proportioner */
      padding-bottom: 18em;
  }
    
    .header img {
      max-width: 100%
    }
    
    .menu {
      display: flex;
      align-items: center;
    }
  
    .menu-container {
      grid-column: 2/2;
      grid-row: 1/1;
      padding-left: 5em;
    }
  
    .menu-list {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      background-color: #3B359F;
      top: 60px;
      left: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .menu-list.show-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50vh;
      margin: 0;
      padding: 20px;
    }
  
    .menu-list li {
      margin-top: 40px;
      margin-bottom: 10px;
      margin-right: 0;
      font-family: Helvetica, sans-serif;
      text-align: center;
      color: #fae5a0;
    }
  
    .mobile-menu-icon {
      display: block;
      color: white;
      font-size: x-large;
    }
  
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: space-between;
      background-color: #3B359F;
      padding: 10px;
      min-height: 5em;
      bottom: 0;
      left: 0;
      right: 0;
    }
  
    .footer img {
      max-width: 50%
    }
    
    .logo-container-footer {
      grid-column: 1/4;
      grid-row: 1/1;
    }
    
    .text-container-footer {
      grid-column: 2/4;
      grid-row: 2/2;
      text-align: left
    }
    
    .menu-container-footer {
      grid-column: 3/4;
      grid-row: 2/2;
      text-align: left;
    }
    
    .facebook-container-footer {
      grid-column: 4/4;
      grid-row: 1/1;
      text-align: right;
    }
    
    .linkedin-container-footer {
      grid-column: 4/4;
      grid-row: 2/2;
      text-align: right;
      padding-bottom: 5em;
    }
  }
  
  /* stilarter for større skærme (over 767px) */
  @media only screen and (min-width: 768px) {
    .mobile-menu-icon {
      display: none;
    }
  
    .logo-container {
      width: 100%;
    }
  }


h1, h2, h3, h4, h5, h6{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

h1{
	text-transform: uppercase; /*Teksten transformeres til udelukkende at være store bogstaver*/
    color:#3A349E;
    align-self: center;
}

.kontakt-tekst{
	font-weight: 200;
	font-size: 22px;
}

/* Styling main */

.frontpage-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    margin: 6em 6em;
    row-gap: 2em;
    /* background-color: rgba(99, 156, 139, 0.1); */
}

.overlay {
    position: absolute;
    top: 130%;
    left: 0;
    width: 100%; 
    height: 130%; 
    background-color: rgba(99, 156, 139, 0.1); 
    z-index: -1;
}

.logo img{
	height: 50px;
}

.intro{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column: span 2;
    font-size: 1.5em;
}

.stefan-img{
    grid-row-start: 2;
    grid-column-start: 3;
    justify-self: end;
    padding: 0 3em;

}

.kontakt-button-forside{
    grid-row-start: 4;
    grid-column-start: 2;
    background: linear-gradient(to bottom, #629D8C, #3A349E);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    padding: 1.3em 3.2em; 
    justify-self: center;
    align-self: flex-end;
    border-radius: 2em;
    width: fit-content;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

.læs-mere-tjenester{    
    grid-row-start: 5;
    grid-column-end: span 2;
    color:#3A349E;
    font-style: italic;
    padding-top: 5em;
}

.workshop-container{
    grid-row-start: 6;
    padding: 2em 1em;
    grid-column-end: span 2;
    /*grid-column-end: 2; */
    width: 26em;
    justify-self: center;
    z-index: 1;
}

.workshop-box{
    grid-row-start: 6;
    /* background-color: #629D8C; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 16em;
    text-align: center;
    padding-top: 1em;
    position: relative;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 1;
}

.læs-mere-button{
    position: absolute;
    /* bottom: 1em;
    left: 50%;
    transform: translateX(-50%); */
    background: linear-gradient(to bottom, #629D8C, #3A349E);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    padding: 1.3em 3.2em; 
    justify-self: center;
    align-self: flex-end;
    border-radius: 2em;
    width: fit-content;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;

}

main{
    padding: 0 2em 2em;
}


.ledelse-container{
    grid-row-start: 7;
    /* grid-column-start: 3; */ 
    grid-column-start: 2;
    padding: 2em 1em;
    grid-column-end: span 2;
    width: 26em;
    justify-self: center;
}
.ledelse-box{    
    /* grid-row-start: 6; */
    /* background-color: #629D8C; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 16em;
    text-align: center;
    padding-top: 1em;
    position: relative;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
    background-color: white;
}


.ledelse-tekst{
    padding: 0 1em;
    grid-row-start: 2;
}

.ledelse-læs-mere-button{
    position: absolute;
    /* bottom: 1em;
    left: 50%;
    transform: translateX(-50%); */
    background: linear-gradient(to bottom, #629D8C, #3A349E);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    padding: 1.3em 3.2em; 
    justify-self: center;
    align-self: flex-end;
    border-radius: 2em;
    width: fit-content;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

.tilkøb-container{
    grid-row-start: 8;
    padding: 2em 1em;
    grid-column-end: span 2;
    width: 26em;
    justify-self: center;
}


.tilkøb-box{
    /* grid-row-start: 6; */
    /* background-color: #629D8C; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 16em;
    text-align: center;
    padding-top: 1em;
    position: relative;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
    background-color: white;
}

.tilkøb-tekst{
    padding: 0 1em;
    grid-row-start: 2;
}


.tilkøb-læs-mere-button{
    position: absolute;
    /* bottom: 1em;
    left: 50%;
    transform: translateX(-50%); */
    background: linear-gradient(to bottom, #629D8C, #3A349E);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    padding: 1.3em 3.2em; 
    justify-self: center;
    align-self: flex-end;
    border-radius: 2em;
    width: fit-content;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

.citatmaskot-forside{
    position: relative;
    z-index: 2;
    width: 100%;
    left: 11em;
    top: 70em;
  

    /*
    grid-row: 6 / span 2; 
    grid-column: 3;
    justify-self: left;*/
    transform: scaleX(-1);
    filter: FlipH;  /* For Edge browsers */
}

/*
.citatmaskot-forside{
    position: relative;
    z-index: 2;
    grid-row: 6 / span 2; 
    grid-column: 3;
    justify-self: left;
    transform: scaleX(-1);
    filter: FlipH;  /* For Edge browsers */
/*}*/

.fingerprint-container{
    display: grid;
    grid-row-start: 10;
    row-gap: 2em;
    padding: 8em 1.5em 1.5em 0;
}

.fingerprint-ikon{
    justify-self: center;
    padding-top: 1em;
}

.småting-med-tekst1{
    text-align: center;
    font-weight: bold;
} 

.house-container{
    display: grid; 
    justify-content: center;
    grid-row-start: 10;
    row-gap: 2em;
    padding: 8em 1.5em 1.5em 1.5em;
}

.house-ikon{
    justify-self: center;
}

.småting-med-tekst2{
    justify-self: center;
    text-align: center;
    font-weight: bold;
}

.check-container{
    display: grid; 
    grid-row-start: 10;
    row-gap: 2em;
    padding: 8em 0 1.5em 1.5em;
}

.check-ikon{
    justify-self: center;
}

.småting-med-tekst3{
    text-align: center;
    font-weight: bold;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
    }

    .overlay {
        position: absolute;
        top: 99%;
        left: 0;
        width: 100%; 
        height: 130%; 
        background-color: rgba(99, 156, 139, 0.1); /* Your desired background color */
        z-index: -1;
    }

    .frontpage-container {
        display: block;
        margin: 0.5em;
    }

    .intro,
    .stefan-img,
    .kontakt-button-forside,
    .læs-mere-tjenester,
    .workshop-container,
    .ledelse-container,
    .tilkøb-container,
    .fingerprint-container,
    .house-container,
    .check-container {
        grid-column: initial;
        grid-row: initial;
        width: auto;
        margin: 0.5em;
        padding: 0.5em;
    }

    .workshop-box,
    .ledelse-box,
    .tilkøb-box {
        height: auto;
    }

    .citatmaskot-forside {
        position: relative;
        z-index: 2;
        width: 100%;
        left: 0;
        top: 0;
        transform: scaleX(1);
    }

    .intro{
        display: block;
    }
}


