/* Generel styling */
img {
    max-width: 100%;
}

.header {
    position: relative;
    background: url('img/header.svg') center center/cover no-repeat;
    height: 100vh;
    transition: min-height 0.3s, background-size 0.3s;
    display: grid;
    grid-template-columns: auto 1fr; /* Opret to kolonner: én for logo og én for menu */
    align-items: flex-start;
}

.logo-container {
    z-index: 2; /* Sørg for, at logoet ligger over baggrunden */
    margin-top: 6.2em;
    margin-left: 2em;
    text-align: left;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Justeret for at placere menuen til højre */
    margin-top: 1em; /* Juster topmargen efter behov */
}

.burger-icon {
    position: relative;
    z-index: 4; /* Sørg for, at ikonet er forrest i z-stakken */
    display: none; /* Skjul burgerikonet som standard */
    font-size: 24px; /* Juster størrelsen efter behov */
    cursor: pointer;
    color: #fff;
    margin-top: 1em;
}

.menu-list {
    z-index: 3; /* Sørg for, at navigationen ligger over baggrunden */
    text-align: right;
    display: flex;
    gap: 1em;
    padding: 3em 3em 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color: #fff;  
}

.menu-list li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    text-align: center;
}

.menu-list li a {
    color: #fff; /* Set the text color to white */
    text-decoration: none; /* Remove underline from links */
}

.menu-list li:visited {
    color: #fff; /* Hvid tekstfarve for besøgte links */
}

/* Tilpasninger for mobilvisning */
@media only screen and (max-width: 767px) {
    .header {
        min-height: auto; /* Ændrer headerens højde til at tilpasse indholdet */
        height: auto; /* Juster height til auto */
        background-size: cover; /* Bevarer baggrundsbilledets proportioner */
        padding-bottom: 18em;
    }

    .logo-container {
        z-index: 2; /* Sørg for, at logoet ligger over baggrunden */
        margin-top: 3em;
        margin-left: 2em;
        text-align: left;
    }

    .burger-icon {
        display: block; /* Vis burgerikonet i mobilvisning */
        margin-top: 1em; /* Juster topmargen efter behov */
        margin-right: 1em; /* Juster margen efter behov */
        transition: color 0.3s;
    }

    .burger-icon.show-mobile {
        color: #fff; /* Skift farven til den ønskede farve (f.eks. rød) */
    }

    .menu-list {
        display: none;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 20px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transition: background-color 0.3s;
        background-color: #3B359F;
    }

    .menu-list.show-mobile {
        display: flex;
    }

    .menu-list li {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}
