/* Generel styling */
img {
    max-width: 100%;
}

.header {
    position: relative;
    background: url('img/header.svg') center center/cover no-repeat;
    height: 100vh;
    transition: min-height 0.3s, background-size 0.3s;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Opret to kolonner: én for logo og én for menu */
    align-items: flex-start;
}

.logo-container {
    z-index: 2; /* Sørg for, at logoet ligger over baggrunden */
    margin-top: 6.2em;
    margin-left: 2em;
    text-align: left;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Justeret for at placere menuen til højre */
    margin-top: 1em; /* Juster topmargen efter behov */
}

.burger-icon {
    position: relative;
    z-index: 5; /* Sørg for, at ikonet er forrest i z-stakken */
    display: none; /* Skjul burgerikonet som standard */
    font-size: 24px; /* Juster størrelsen efter behov */
    cursor: pointer;
    color: #fff;
    margin-top: 1em;
}

.menu-list {
    z-index: 3; /* Sørg for, at navigationen ligger over baggrunden */
    text-align: right;
    display: flex;
    gap: 1em;
    padding: 3em 3em 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color: #fff;  
}

.menu-list li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    text-align: center;
}

.menu-list li a {
    color: #fff; /* Set the text color to white */
    text-decoration: none; /* Remove underline from links */
}

.menu-list li:visited {
    color: #fff; /* Hvid tekstfarve for besøgte links */
}

section{
    margin: 1em 1em;
}

h1, h3{
    color: #3A349E;
    padding-top: 1.5em;
}

.email-telefon{
    color: #BA6C75;
}

.lokation-tekst{
    color: #3B359F;
    padding-bottom: 2em;
}

/* Tilpasninger for mobilvisning */
@media only screen and (max-width: 767px) {
    .header {
        min-height: auto; /* Ændrer headerens højde til at tilpasse indholdet */
        height: auto; /* Juster height til auto */
        background-size: cover; /* Bevarer baggrundsbilledets proportioner */
        padding-bottom: 18em;
    }

    .logo-container {
        z-index: 2; /* Sørg for, at logoet ligger over baggrunden */
        margin-top: 3em;
        margin-left: 2em;
        text-align: left;
    }

    .burger-icon {
        display: block; /* Vis burgerikonet i mobilvisning */
        margin-top: 1em; /* Juster topmargen efter behov */
        margin-right: 1em; /* Juster margen efter behov */
        transition: color 0.3s;
        cursor: pointer;
    }

    .burger-icon.show-mobile {
        color: #fff; /* Skift farven til den ønskede farve (f.eks. rød) */
    }

    .menu-list {
        display: none;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 20px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transition: background-color 0.3s;
        background-color: #3B359F;
    }

    .menu-list.show-mobile {
        display: flex;
    }

    .menu-list li {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    .kontakt-maskot{
        display: none;
    }
}

/*til desktop version*/
@media only screen and (min-width: 768px) {

}

/*Kontaktformular*/

/* Reset nogle standardmargener og paddinger for at gøre det mere konsistent */
body, h1, p, label, input, textarea, select, option, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grundlæggende styling for body */
body {
    font-family: Arial, sans-serif;
}

/* Kontaktform styling */
.kontaktform {
    max-width: 600px; /* Tilpas bredden efter behov */
    margin: 20px auto; /* Centrer formen på siden med lidt margen */
    padding: 20px; /* Tilføj indvendig polstring efter behov */
    background: #f9f9f9; /* Tilføj ønsket baggrundsfarve */
    border: 1px solid #ddd; /* Tilføj en enkel ramme */
    box-shadow: 0 4px 16px rgba(59, 53, 159, 0.4); /* Opdateret skygge med en mere markeret bundskygge */
}

h1 {
    font-size: 24px; /* Tilpas størrelsen efter behov */
    margin-bottom: 20px; /* Tilføj margen efter behov */
}

/* Label styling */
label {
    display: block;
    margin-bottom: 5px; /* Tilføj margen efter behov */
}

/* Input styling */
input,
textarea,
select {
    width: 100%;
    padding: 10px; /* Tilpas polstringen efter behov */
    margin-bottom: 15px; /* Tilføj margen efter behov */
    box-shadow: 0 4px 8px rgba(59, 53, 159, 0.2); /* Skygge */
    border: none; /* Fjern kantlinjen */
    border-radius: 0; /* Gør hjørnerne helt firkantede */
    background-color: #fff; /* Sæt baggrundsfarven til hvid */
}

/* Farvet kant i bunden af input med gennemsigtighed */
input,
textarea,
select {
    border: none; /* Fjern eksisterende kantlinje */
    border-bottom: 2px solid rgba(59, 53, 159, 0.7); /* Gennemsigtig kant i bunden */
}

/* Fjern skyggen fra formularen */
.kontaktform form {
    box-shadow: none;
}

.send-besked{
    background: linear-gradient(to bottom, #BC6D74, #3A349E);
    color: white;
    border-radius: 2em;
    cursor: pointer;
}

/* Checkbox styling */
.checkbox {
    margin-bottom: 20px; /* Tilføj margen efter behov */
}

.checkbox div {
    margin-bottom: 10px; /* Tilføj margen efter behov */
}

/* Radio button styling */
fieldset {
    margin-bottom: 20px; /* Tilføj margen efter behov */
}


/*Styling af footer*/
.footer {
    width: 100%;
    background: url('img/footer.svg') center center/cover no-repeat;
    height: 100vh;
    transition: min-height 0.3s, background-size 0.3s;
    padding-top: 2em;
    bottom: 2em;
    position: relative; /* Tilføjet position:relative; */
}

.footer-indhold{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
    bottom: 2em;
    position: relative; /* Tilføjet position:relative; */
}