/*Generel styling*/

* { /*alt på siden bliver påvirket*/
	box-sizing: border-box; /*Padding og border inkluderes i bredde og højde*/
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 5em 0; /*Resetting af margin i hele bodyen + tilføjer luft under kontaktformular*/
}

h1, h2, h3, h4, h5, h6{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

h1{
	text-transform: uppercase; /*Teksten transformeres til udelukkende at være store bogstaver*/
    color:#3A349E;
    align-self: center;
}

.kontakt-tekst{
	font-weight: 200;
	font-size: 22px;
}

/*Navigation start*/
header{
	background-color: #333;
	height: 5em;
	padding: 1em;
	margin-bottom: 4em;	
}
/* Styling main */

.frontpage-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    margin: 6em 6em;
    row-gap: 2em;
    /* background-color: rgba(99, 156, 139, 0.1); */
}

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; /* Adjust the width as needed */
    height: 150%; /* Adjust the height as needed */
    background-color: rgba(99, 156, 139, 0.1); /* Your desired background color */
    z-index: -1;
}

.logo img{
	height: 50px;
}

nav ul{
	float: right;
	list-style-type: none;
}

nav li {
	display: inline-block;
}

nav li a {
	text-decoration: none;
	padding: 1em;
	font-size: 20px;
	color:#fff;
	text-transform: uppercase;
}

nav a:hover{
	color: #DD7824;
	transition: 0.5s; /*skaber en mere blød overgang mellem linkfarverne*/
}

.intro{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column: span 2;
    font-size: 1.5em;
}

.stefan-img{
    grid-row-start: 2;
    grid-column-start: 3;
    justify-self: end;
    padding: 0 3em;

}

.kontakt-button-forside{
    grid-row-start: 4;
    grid-column-start: 2;
    background: linear-gradient(to bottom, #629D8C, #3A349E);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    padding: 1.3em 3.2em; 
    justify-self: center;
    align-self: flex-end;
    border-radius: 2em;
    width: fit-content;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

.læs-mere-tjenester{
    grid-row-start: 5;
    grid-column-end: span 2;
    color:#3A349E;
    font-style: italic;
    padding-top: 5em;
}

.workshop-container{
    grid-row-start: 6;
    padding: 2em 1em;
    grid-column-end: span 2;
    /*grid-column-end: 2; */
    width: 26em;
    justify-self: center;
    z-index: 1;
}

.workshop-box{
    grid-row-start: 6;
    /* background-color: #629D8C; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 16em;
    text-align: center;
    padding-top: 1em;
    position: relative;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 1;
}

.læs-mere-button{
    position: absolute;
    /* bottom: 1em;
    left: 50%;
    transform: translateX(-50%); */
    background: linear-gradient(to bottom, #629D8C, #3A349E);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    padding: 1.3em 3.2em; 
    justify-self: center;
    align-self: flex-end;
    border-radius: 2em;
    width: fit-content;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;

}

main{
    padding: 0 2em 2em;
}


.ledelse-container{
    grid-row-start: 7;
    /* grid-column-start: 3; */ 
    grid-column-start: 2;
    padding: 2em 1em;
    grid-column-end: span 2;
    width: 26em;
    justify-self: center;
}
.ledelse-box{    
    /* grid-row-start: 6; */
    /* background-color: #629D8C; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 16em;
    text-align: center;
    padding-top: 1em;
    position: relative;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
    background-color: white;
}


.ledelse-tekst{
    padding: 0 1em;
    grid-row-start: 2;
}

.ledelse-læs-mere-button{
    position: absolute;
    /* bottom: 1em;
    left: 50%;
    transform: translateX(-50%); */
    background: linear-gradient(to bottom, #629D8C, #3A349E);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    padding: 1.3em 3.2em; 
    justify-self: center;
    align-self: flex-end;
    border-radius: 2em;
    width: fit-content;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

.tilkøb-container{
    grid-row-start: 8;
    padding: 2em 1em;
    grid-column-end: span 2;
    width: 26em;
    justify-self: center;
}


.tilkøb-box{
    /* grid-row-start: 6; */
    /* background-color: #629D8C; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 16em;
    text-align: center;
    padding-top: 1em;
    position: relative;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
    background-color: white;
}

.tilkøb-tekst{
    padding: 0 1em;
    grid-row-start: 2;
}


.tilkøb-læs-mere-button{
    position: absolute;
    /* bottom: 1em;
    left: 50%;
    transform: translateX(-50%); */
    background: linear-gradient(to bottom, #629D8C, #3A349E);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    padding: 1.3em 3.2em; 
    justify-self: center;
    align-self: flex-end;
    border-radius: 2em;
    width: fit-content;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

.citatmaskot-forside{
    position: relative;
    z-index: 2;
    width: 100%;
    left: 11em;
    top: 70em;
  

    /*
    grid-row: 6 / span 2; 
    grid-column: 3;
    justify-self: left;*/
    transform: scaleX(-1);
    filter: FlipH;  /* For Edge browsers */
}

/*
.citatmaskot-forside{
    position: relative;
    z-index: 2;
    grid-row: 6 / span 2; 
    grid-column: 3;
    justify-self: left;
    transform: scaleX(-1);
    filter: FlipH;  /* For Edge browsers */
/*}*/

.fingerprint-container{
    display: grid;
    grid-row-start: 10;
    row-gap: 2em;
    padding: 8em 1.5em 1.5em 0;
}

.fingerprint-ikon{
    justify-self: center;
    padding-top: 1em;
}

.småting-med-tekst1{
    text-align: center;
} 

.house-container{
    display: grid; 
    justify-content: center;
    grid-row-start: 10;
    row-gap: 2em;
    padding: 8em 1.5em 1.5em 1.5em;
}

.house-ikon{
    justify-self: center;
}

.småting-med-tekst2{
    justify-self: center;
    text-align: center;
}

.check-container{
    display: grid; 
    grid-row-start: 10;
    row-gap: 2em;
    padding: 8em 0 1.5em 1.5em;
}

.check-ikon{
    justify-self: center;
}

.småting-med-tekst3{
    text-align: center;
}


/*Responsiv tilpasning*/

@media only screen and (max-width: 850px){
	main{
		width: 100% !important;
	}
	body{
		margin: 0;
	}
	header{
		margin-bottom: 0;
	}
}