/* generel styling */

header{
    img{
        max-width: 100%;
    }
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #3B359F;  
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #3B359F; 
    font-style: italic;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #3B359F; 
}

.nav-list{
    display: flex;
    gap: 1em;
    justify-content: end;
    padding: 3em 3em 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    /*color: white;*/
}


/* Styling main */

.frontpage-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    margin: 6em 6em;
}

.intro{
    grid-column-start: 1;
    grid-column-end: 3;
}

.stefan-img{
    justify-self: end;
}

.kontakt-button-forside{
    grid-column-start: 2;
    background: linear-gradient(to bottom, #629D8C, #3A349E);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    padding: 1.3em 3.2em; 
    justify-self: center;
    border-radius: 2em;
    width: fit-content;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
}

.læs-mere-tjenester{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    padding-bottom: 2em;
    padding-top: 3em;
}

.workshop-container{
    display: grid;
    grid-row-start: 6;
    padding: 0 1em;
}

.workshop-box{
    /* grid-row-start: 6; */
    /* background-color: #629D8C; */
    display: grid;
    grid-template-rows: 4;
    height: 16em;
    text-align: center;
    box-shadow: 
    0.2em 0.2em 0.2em #3A349E, 
    -0.2em -0.2em 0.2em #3A349E,  
    -0.2em 0.2em 0.2em #3A349E,   
    0.2em -0.2em 0.2em #3A349E;
    padding-top: 1em;
    position: relative;
}

.workshop-tekst{
    grid-row-start: 2;
}

.workshop-læs-mere-button{
    position: absolute;
    /* bottom: 1em;
    left: 50%;
    transform: translateX(-50%); */
    background: linear-gradient(to bottom, #629D8C, #3A349E);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    padding: 1.3em 3.2em; 
    justify-self: center;
    align-self: flex-end;
    border-radius: 2em;
    width: fit-content;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

.ledelse-container{
    grid-row-start: 7;
    grid-column-start: 3;
    padding: 0 1em;
}

.ledelse-box{
    /* grid-row-start: 7; */
    /* grid-column-start: 3; */
    /* background-color: #629D8C; */
    height: 14em;
    text-align: center;
    box-shadow: 
    0.2em 0.2em 0.2em #3A349E,   
    -0.2em -0.2em 0.2em #3A349E,  
    -0.2em 0.2em 0.2em #3A349E,   
    0.2em -0.2em 0.2em #3A349E;
    padding-top: 1em;
}

.tilkøb-container{
    grid-row-start: 8;
    padding: 0 1em;
}

.tilkøb-box{
    grid-row-start: 8;
    /* background-color: #629D8C; */
    height: 14em;
    text-align: center;
    box-shadow: 
    0.2em 0.2em 0.2em #3A349E,
    -0.2em -0.2em 0.2em #3A349E, 
    -0.2em 0.2em 0.2em #3A349E,
    0.2em -0.2em 0.2em #3A349E;
    padding-top: 1em;
}

.småting-med-tekst1{
    grid-row-start: 9;
}

.småting-med-tekst2{
    grid-row-start: 9;
}

.småting-med-tekst3{
    grid-row-start: 9;
}